<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../content/salesEx.css">
    </head>
    <body style="background-image: url('back.jpg');">

        
        <div>
            <h1 align="center">Login</h1>
            <form >

                <table border="1" class="table" align="center" width="80%">
                    <tr>
                        <th>UserName: </th>
                        <td><input type="text" ng-model="username"></td>
                        
                    </tr>
                    <tr>
                    <th>Password</th>
                    <td><input type="password" ng-model="password"></td>
                    
                </tr>
                <tr>
                    <input type="submit" value="Submit">
                </tr>
            </table>
        </form>
    </div>
    </body>
  
</html>